/* =====Login=====*/
body[role="login"] {
    font-family: 'Roboto', sans-serif;
	background: url('../images/automotive-3.jpg');
}
/*
[role="login"] .container {
	margin-top: 100px
}
*/
.well {
	height:70px;
}
[role="login"] .btn-signin {
	background: darkorange;
	border: 1px solid orange;
	color: white;
	margin: 0px;
	padding-top:30px;
	padding-bottom:30px;
	width:100%;
	border-radius: 0px;
	
}
[role="login"] label {
	font-weight: normal;
	color: black
}
.panel-heading {
	padding: 5px 15px;
}
.form-inline {
	margin: 5px
}
.panel-footer {
	padding: 1px 15px;
	color: #A0A0A0;
}
hr {
	border: 0;
	height: 1px;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #FFF, rgba(0, 0, 0, 0));
	margin: 5px
}
.profile-img {
	margin: 0 auto 10px;
	display: block;
}
.panel-default {
    opacity: .8;
    -webkit-box-shadow: 0px 7px 24px 1px rgba(0,0,0,0.45);
    -moz-box-shadow: 0px 7px 24px 1px rgba(0,0,0,0.45);
    box-shadow: 0px 7px 24px 1px rgba(0,0,0,0.45);
    background: whitesmoke repeat scroll 0% 0%;
	border-radius: 0px;
}