/*body {
    margin-top: 50px;
}*/

.fixed {
        position: fixed;
        background-color: lightgray;
        height: 100%;
        border-right: 1px solid darkgray;
		margin: 0px;
		padding: 0px;
		width: 20%;
}

.subtitle {
	margin-left:50px;
	font-size: 20pt;
	color: darkgray;
	text-align: center;
}
.subtitle:hover {
	color: darkgray;
	text-decoration:none;
}

.sidebar {
        background-color: #F8F8F8;
        height: 100vh;
        border-right: 1px solid #E7E7E7;
		margin: 0px;
		padding: 0px;
}

.scrollit {
        float: left;
		margin-left: 20%;
		height: 100%;
		margin-top: 20px;
		width: 75%;
}

.content {
	background-color: #ffffff;
}

.panel-default {
	border-color: #FF6600;
}

.panel-default > .panel-heading {
    background-image: none;
    background-color: #FF6600;
    color: white;
	font-size: 18pt;
}

/* left navigation bar style */
nav#mainnav ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

nav#mainnav li {
	padding:0;
	border-bottom: 1px solid #E7E7E7;
}
nav#mainnav li.selected-item  {
	border-bottom:none;
}
nav#mainnav li.selected-item a,
nav#mainnav li.selected-item a:hover {
	color:#ffffff;
	font-weight:bold;
	background: #FF6600;
}
nav#mainnav li a:hover {
	background:#FFaa44;
	color: #fff;
	text-decoration:none;
}
nav#mainnav li a {
	color: #FF5500;
	font-size: 14pt;
	display: block;
	padding: 15px 17px;
	text-align: left;
	font-weight:  bold;
	text-decoration: none;
}